In [1]:
import numpy as np
import pandas as pd
#from matplotlib import pyplot as plt
#%matplotlib inline
import seaborn as sns
import re

In [2]:
train_df = pd.read_csv('C:/Users/aashya.khanduja/Documents/Aashya/Xane/SET1_Theming_data.csv')
test_df = pd.read_csv('C:/Users/aashya.khanduja/Documents/Aashya/Xane/Test.csv')

In [3]:
train_df.sample(5)

,review,Unnamed: 1,Maual Theming,Maual Theming.1
832,Good Employee benefits,NaN,Resources & Benefits,NaN
242,Working environment.\nPeople are very friendly...,NaN,Company Feedback,NaN
203,NATURAL BEAUTY,NaN,Others,NaN
410,Na,NaN,Others,NaN
24,Involvement of family members in highs and low...,NaN,Others,NaN

,review,Unnamed: 1,Maual Theming,Maual Theming.1
832,Good Employee benefits,NaN,Resources & Benefits,NaN
242,Working environment.\nPeople are very friendly...,NaN,Company Feedback,NaN
203,NATURAL BEAUTY,NaN,Others,NaN
410,Na,NaN,Others,NaN
24,Involvement of family members in highs and low...,NaN,Others,NaN

In [4]:
def removenumbers(train_df):
#Remove numbers
    train_df = re.sub(r'\d+', '', (train_df))
    print(train_df)

In [5]:
def convertlower(train_df):
    train_df = train_df.lower();
#print(train_df)

In [6]:
#deleting symbols etc
def removepunctuation(train_df):
    import string 
    table = str.maketrans("","",string.punctuation);
    train_df=train_df.translate(table);
#def remove_punctuation(text):
#      return text.translate(table)
#train_df['new'] = train_df['review'].apply(removing_punct)
#train_df.set(i for i in text if i in string.punctuation)
    #translate(str.maketrans("",""), str.punctuation)
#print(train_df)

In [7]:
def strip(train_df):
    train_df = train_df.strip()
#train_df

In [8]:
def preProcessing(train_df):
    train_df = removenumbers(train_df)
    train_df = convertlower(train_df)
    train_df = removepunction(train_df)
    train_df = strip(train_df)
    return(train_df)

In [9]:
from skmultilearn.problem_transform import BinaryRelevance 
from sklearn.naive_bayes import GaussianNB

In [10]:
#train_df.head(10)

In [11]:
classifier = BinaryRelevance(GaussianNB())

In [12]:
from sklearn.datasets import make_multilabel_classification

In [13]:
#print(train_df['review'])

In [14]:
totalText='' 
for x in train_df['review']:
    print(x)
    print(type(x), x)
    ps=preProcessing(x) 
    totalText = totalText+""+ps 
    from wordcloud import WordCloud 
    wc=WordCloud(background_color='black',max_font_size=50).generate(totalText) 
#     plt.figure(figsize=(16,12)) 
#     plt.imshow(wc, interpolation="bilinear")

[Mediclaim policy,]
<class 'str'> [Mediclaim policy,]
[Mediclaim policy,]
[Mediclaim policy,]
<class 'str'> [Mediclaim policy,]
[Mediclaim policy,]

AttributeError: 'NoneType' object has no attribute 'lower'

AttributeError: 'NoneType' object has no attribute 'lower'

In [ ]:
#import nltk 
#from nltk.tokenize import ToktokTokenizer 
#x=nltk.FreqDist(ToktokTokenizer().tokenize(totalText)) 
#plt.figure(figsize=(16,5)) 
#x.plot(20)

In [ ]:
classifier.fit(x,y)

In [ ]:
predictions = classifier.predict(X)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
print(accuracy_score(train_df, predictions))

In [ ]:
cols_target = ['Colleague Relations', 'Company Feedback','Communication','Job Satisfaction','Leadership','Others','Personal Growth','Recognition','Relationship with Manager','Resources & Benefits','Training & Process Orientation','Vision Alignment']

In [ ]:
train_df.describe()